.intro__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin: 0 auto;
  padding: 0 54px 40px 55px;
}

.intro__text:last-of-type{
	padding-bottom: 0;
}
