.problem__title {
  margin: 0 auto;
  padding: 48px 0 0 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}
